body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .bg-1{
    background: url(../images/slider.png) no-repeat;
    padding: 140px 0;
  }
  .slidetext h5{
    color: #d79a0b;
    font-size: 22px;
  }
  .slidetext h2{
    color: #000;
    font-size: 40px;
    font-weight: 900;
    font-family: sans-serif;
  }
  .slidetext{
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
  .featbox {
    padding: 0;
}
.thcolumn{
  padding: 0px;
  margin-bottom: 30px;
}
.bloq {
    margin: 0 auto;
    width: 50%;
    padding: 2%;
    border: 2px solid #d8eefc;
    border-radius: 30px;
}
.bloq .text-block{
  position: relative;
}
.bloq .text-block:before {
    font-family: 'icons';
    width: 130px;
    height: 130px;
    content: '\275e';
    position: absolute;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
    top: 0px;
    left: 50%;
    margin-left: -65px;
    color: #008fd5;
}

blockquote {
    padding: 60px 20px 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border: none !important;
}

.bloq .text-block span {
    color: #008fd5;
    font-weight: 600;
}
.section2 img {
    margin: 0 auto;
}
.section2{
  margin: 40px 0px;
}
.bg-4{
  padding: 0px !important;
}
.blastbtn{
  background: #008fd5;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid #fff;
}
.blastbtn:hover {
    background: #1c6f96;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid #fff;
}
.navbar-nav li:hover a{
      color: #fff !important;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid #d8d8d8;
    background: #008fd5 !important;
}
.featbox img{
  margin: 0 auto;
}